.footer {
    padding: 2rem 5% 2rem 5%;
    background-color: #0a0a0a;
    color: white;
    border-top: 2px solid #323232;

    &__socials {
        font-size: 1.8rem;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftLink {
    margin-right: 1rem;
}
