.row {
    padding: 1rem 4%;
    color: white;

    &__title {
        font-size: 1.7rem;
        padding: 0 .5rem;
    }

    &__images {
        display: flex;
        align-items: center;
        overflow-x: visible;
        overflow-y: hidden;
        width: 100%;
        padding: .5rem;

    }

    &__card {
        position: relative;
        transition: transform 0.3s ease-in;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

    }

    &__image {
        width: 300px;
        padding: 0.5rem;

        &__name {
            position: absolute;
            width: 95%;
            bottom: 0.5rem;
            left: 0.5rem;
            background-color: black;
            padding: 0.2rem;

        }
    }

    ::-webkit-scrollbar {
        appearance: none;
        -webkit-appearance: none;
        background-color: #111;
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: black;
        border-radius: 9px;
        border: 3px solid transparent;
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    }
}